#about-us{
    padding: 200px 0;
}


.about-us-text{
    font-family: 'Poppins', sans-serif;
    h6{
        font-weight: 500;
        font-size: 18px;
        line-height: 32px;
    }

    h2{
        font-weight: 600;
        font-size: 50px;
        line-height: 74px;
        padding: 20px 0;
    }

    p{
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        opacity: 0.7;
    }
}