#blogpage-banner{
    padding: 100px 0;
}


.blogpage-head{
    font-family: 'Poppins', sans-serif;
    h1{
        font-weight: 600;
        font-size: 48px;
        line-height: 64px;
        padding: 0 100px;
    }

    p{
        font-weight: 500;
        font-size: 16px;
    }
}


.blogpage-btm {
    p{
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        padding: 0 180px;
        margin-top: 30px;
        opacity: 0.7;
    }
}


