#goal{
    padding-bottom: 50px;
}

.we{
    padding-top: 50px;
    background-color: #F4F5F5;
}

.goal-text{
    padding: 0 20px;
    font-family: 'Poppins', sans-serif;

    h6{
        font-weight: 500;
        font-size: 16px;
    }

    h2{
        font-weight: 600;
        font-size: 38px;
        padding: 20px 0;
    }

    p{
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        opacity: 0.7;
    }

   
}


.goal-text-one {
    margin-top: 18px;

    h2{
        font-weight: 600;
        font-size: 38px;
        padding: 20px 0;
    }

    p{
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        opacity: 0.7;
    }


}


.gol-img{
    background: url(../images/man-in-blue-jacket-looking-at-white-board-7413916.jpg) no-repeat center / cover;
    padding: 150px 0;
}


