#our-work{
    padding: 100px 0;
    background-color:  #F4F6FC;
}


.our-work-text {
    font-family: 'Poppins', sans-serif;
    h6{
        font-weight: 500;
        font-size: 16px;
    }

    h2{
        font-weight: 600;
        font-size: 48px;
        padding: 30px 0;
    }

    p{
        font-weight: 500;
        font-size: 16px;
        line-height: 28px;
        padding: 0 180px;
    }
}


.work-icon{
    i{
        margin: 0 5px;
    }
}

